.Container {
  width: 45rem;
  margin: 0 auto;

  h2 {
    font-weight: 700;
    font-size: 3rem;
    margin-top: 5rem;
  }

  hr {
    border: 1px solid var(--gray-300);
    opacity: 0.1;
  }
}

.banner {
  width: 100%;
  height: auto;
}

.postContainer {
  margin-bottom: 2rem;

  h3 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2.25rem;
    font-weight: 700;
    text-align: justify;
  }
}

.postContent {
  text-align: justify;


  p {
    font-size: 1.125rem;
    color: var(--gray-300);
    font-weight: 400;
    margin-bottom: 1rem;
  }

  a {
    color: var(--pink-500);
  }
}


.postInfo {
  display: flex;
  span {
    display: flex;
    align-items: center;
    color: var(--gray-300);
    font-size: 0.875rem;
    svg {
      margin-right: 0.5rem;
      height: 0.9375rem;
      width: 0.9375rem;
    }

    & + span {
      margin-left: 1.5rem;
    }
  }
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;

  div {
    margin-top: 2rem;
    margin-bottom: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    &.prevPost {
      justify-content: center;
    }

    &.nextPost {
      align-items: flex-end;
      justify-content: center;
    }

    h3 {
      font-size: 1.125rem;
      width: 70%;
      font-weight: 400;
      color: var(--gray-300);
      margin-bottom: 2rem;
      text-align: justify;
    }

    a {
      color: var(--pink-500);
    }
}
}

.prevButton {

}

.nextButton {

}
